@import "root.css";

form {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    max-width: clamp(600px, 50%, 500px);
    height: 100%;
    gap: 18px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
}

form h1{
    font-family: 40px;
}

form h1, form p, form p a{
    color: #000000;
    font-weight: normal;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 70%;
}

form div input{
    padding: 10px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border: 0.1px solid black;
    box-shadow: rgba(50, 50, 93, 0.39) 0px 6px 12px -5px, rgba(0, 0, 0, 0.1) 0px 3px 8px -3px;
}

form button {
    background-color: var(--accent);
    border: none;
    padding: 10px;
    background-color: 5px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.39) 0px 6px 12px -5px, rgba(0, 0, 0, 0.1) 0px 3px 8px -3px;

    font-size: 20px;
    width: clamp(100px, 50%, 200px);

    cursor: pointer;

    transition: 0.2s all ease-in-out;

}

form button:active {
    background-color: var(--accent);
    opacity: 0.8;

    transition: 0.2s all ease-in-out;

}