{{ template "header" . }}

<div class="pagecontent" id="page">
    <div class="sidebar" id="sidebar"></div>

    <div class="main-content" id="main">
        <div class="top">
            <input type="search" name="" id="searchForm" placeholder="Search for a song">
            <p>username</p>    
        </div>

        <section class="content" id="content" style="overflow: auto;">
            <div id="initial">
                <h1>Recently Played</h1>
            </div>
            <div id="search" class="hidden">
            </div>
            <div id="playlist" class="hidden" ></div>
        </section>

    </div>
</div>

<div class="player">
    
</div>

<script src="/assets/js/main.js"></script>
{{ template "eop" . }}