{{ define "header" }}
<!DOCTYPE html>
<html>
	<head>
		<title>Tremoco | {{ .Title }}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon"/>
		{{ if .username }}
			<link rel="manifest" href="/assets/manifest.json">
		{{ end }}
		<link rel="stylesheet" href="/assets/css/{{ .loadTemplate }}.css" />
	</head>
	<body>
{{ end }}