{{ template "header" . }}

<form action="/auth/register" method="post">
	<h1>Register</h1>
	<p id="event"></p>
	<div>
		<input type="text" name="username" placeholder="username" />
		<input type="password" name="password" placeholder="password" />
	</div>
	<button type="submit">Register</button>

	<p>Login? <a href="/login">Click here</a></p>
</form>

{{ template "formauth_script" . }}
{{ template "eop" . }}